<!DOCTYPE html>
<html>
    <body>
        <h1>All the Jobs!</h1>
        <form action = "JobBoard" method = "post">
            <label for = "title">What kind of job is it?</label>
            <input type = "text" name = "title" id = "title">
            <label for = "contactName">Your Name</label>
            <input type = "text" name = "contactName" id = "contactName">
            <label for = "contactPhone">Your Name</label>
            <input type = "text" name = "contactPhone" id = "contactPhone">
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>