<!DOCTYPE html>
<html>
    <body>
        <h1>All the Jobs!</h1>
        <p>
        You can apply to @Model.GetTitle() job!
        </p>
        <p>
        Talk to @Model.GetName() at @Model.GetPhone()
        </p>
    </body>
</html>